{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="main">
    <div class="intro">
        <p class="intro-title">bereketio</p>

        <p class="intro-paragraph">At MiniBlog, we believe that sharing stories, experiences, and knowledge can inspire
            others to grow, learn, and connect.</p>

        <span class="contact-section">
            <p class="intro-contact">Yergali Bereket</p>
            <p class="intro-contact">Student, KBTU</p>
        </span>
    </div>

    <div class="register-container">
        <form action="" method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Create an account</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">Already have an account? <a href="{% url 'users-login' %}">Login</a></small>
        </div>
    </div>
</div>
{% endblock %}