<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/style.css' %}">

    {% block head %}
    {% endblock %}
    <title>MiniBlog</title>
</head>
<body>
{% if not user.is_authenticated %}
    <span class="sign">
        <a href="{% url 'users-register' %}" class="register-link">Register Now →</a>
    </span>
{% endif %}

<header class="header">
    <div class="logo">
        <img src="{% static 'assets/jojo.webp' %}" alt="Logo" class="logo-image">
        <h1 class="title">MiniBlog</h1>
    </div>

    <nav class="nav">
        <ul class="nav-list">
            <li class="nav-item"><a href="{% url 'blog-home' %}" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="{% url 'blog-about' %}" class="nav-link">About</a></li>

            {% if user.is_authenticated %}
                <li class="nav-item"><a href="{% url 'users-profile' %}" class="nav-link">Profile</a></li>
                <li class="nav-item"><a href="{% url 'blog-new' %}" class="nav-link">New Post</a></li>
                <li class="nav-item">
                    <form method="POST" action="{% url 'users-logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="logout-btn">Logout</button>
                    </form>
                </li>
            {% endif %}
        </ul>
    </nav>
</header>

<div class="container">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
