.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;

    position: absolute;
    top: 40px;
    left: 600px
}

.blog-update-btn, .blog-delete-btn {
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.blog-update-btn {
    background-color: black; /* Blue background */
    color: white; /* White text */
}

.blog-delete-btn {
    background: black;
    color: white;
}

.blog-update-btn:hover {
    color: white;
    background-color: #f0a500;
}

.blog-delete-btn:hover {
    color: white;
    background-color: #f0a500;
}
